html,body{
  font-family: 'arial';
}

body{
 background:#59ABE3;
}

a{
  color:blue;
  cursor:pointer;
}

form{
  padding:20px 50px;
  margin:40px auto;
  background:#fff;
}

input,select,textarea{
  padding:10px !important;
  margin:5px 0;
}

input:focus,select:focus,textarea:focus{
  border:1px solid #3498DB;
  transition: 0.5s;
}

hr{
  margin:10px 0;
  color:rgba(0,0,0,.1);
}
